* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*body {
  background-color: #025bee;
  align-items: center;
  display: flex;
}*/
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin: 50px 10px;*/
  margin: 10px 0;
  margin-top: 0;
  padding: 0 10px;
  padding-top: 10px;
  background-color: #e0e0e0;
  border-radius: 0.5em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 7px;
}
.container .image-container,
.container .preview-container {
  display: block;
  width: auto;
  max-width: 95%;
  background-color: green;
}
.container .preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="file"] {
  display: none;
}
#choose-a-photo {
  display: block;
  position: relative;
  background-color: #025bee;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  width: 250px;
  padding: 16px 0;
  border-radius: 0.3em;
  margin: 16px auto;
  cursor: pointer;
}
img {
  display: block;
  /* Important for cropper js*/
  width: 90%;
}
.image-container {
  margin: 0 auto;
  margin-bottom: 20px;
}
.option-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
  margin-bottom: 5px;
}
.option-wrapper:nth-child(1) {
  margin-bottom: 5px;
}
.options {
  display: flex;
  justify-content: center;
  gap: 2px;
}
input[type="number"] {
  width: 100px;
  padding: 16px 5px;
  border-radius: 0.3em;
  border: 2px solid #000000;
}
button {
  padding: 1em;
  border-radius: 0.3em;
  border: 2px solid #025bee;
  background-color: #ffffff;
  color: #025bee;
}
.btns {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 10px;
}
.btns button {
  font-size: 1em;
}
.btns a {
  border: 2px solid #025bee;
  background-color: #025bee;
  color: #ffffff;
  text-decoration: none;
  padding: 1em;
  font-size: 1em;
  border-radius: 0.3em;
}
#preview,
#download {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 80px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background-color: #025bee;
  margin-right: 10px;
  color: #FFF;
}
#preview {
  margin-right: 5px;
}
#download {
  margin-left: 5px;
}
.hide {
  display: none;
}
