<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../static/css/access.css">
    <title>Authentication Required</title>
    <style>
    </style>
</head>
<body>
	<header>
		<h1 class="logo">ZMC Student Assistant</h1>
	</header> 
	<div class="access-container">
		<div class="message-container">
			<div class="message-box" style="display: none;">This is the message box This is the message box This is the message box This is the message box This is the message box</div>
		</div>
    <h1>Authentication Required</h1>
    <p>Please log in to access this page.</p>
		<div class="buttons-box">
	    <a href="/login_template" class="button">Log In</a>
	    <a href="/register_template" class="button" style="margin-left: 10px;">Sign Up</a>
		</div>
	</div>
	<script>
		const message = {{ message | tojson | safe }}
		if (message) {
			const messageBox = document.querySelector('.message-box');

			// Check if it is a success or an error message
			const { success, result } = processSuccessWord(message);

			if (success) {
				messageBox.style.color = '#008000';
			} else {
				messageBox.style.color = '#DC143C';
			}
			messageBox.innerHTML = result;
			messageBox.style.display = 'flex';

			setTimeout(() => {
				messageBox.style.display = 'none';
			}, 10000);
		}


		function processSuccessWord(inputString) {
			const words = inputString.split(' ');

			for (let i = 0; i < words.length; i++) {
				if (!i) {
	        if (words[i].toLowerCase() === 'success' && i + 1 < words.length) {
						// Remove 'success' and capitalize the following word
	          words.splice(i, 1, words[i + 1].charAt(0).toUpperCase() + words[i + 1].slice(1));
	          // Remove the following word
	          words.splice(i + 1, 1);
	          return { success: true, result: words.join(' ') };
	        }
				}
			}

			return { success: false, result: inputString };
		}
	</script>
</body>
</html>

