<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> NEW PASSWORD </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/recover_password/recover.css') }}">
	</head>
	<body>
		<section class="section-brightnessd">
		<div class="recover-box">
      <form action="/finalise_password_change" method="POST" enctype="application/x-www-form-urlencoded" id="change-password">
				<h2>Set New Password</h2>
				<div class="input-box">
					<span class="icon">
						<ion-icon name="lock-closed-outline"></ion-icon>
					</span>
					<input type="password" name="new_password" class="input-data" required id="new-password">
					<label>Enter New Password</label>
				</div>

				<div class="input-box">
					<span class="icon">
						<ion-icon name="lock-closed-outline"></ion-icon>
					</span>
					<input type="password" name="confirm_password" class="input-data" required id="confirm-password">
					<div class="error-box" style="display: none;">Problem Setting New Password</div>
					<label>Confirm Password</label>
				</div>

				<button type="submit" id="submit-button">Send</button>
			</form>
		</div>
		</section>
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
		<script>
        // Get references to the button and form elements
        const submitButton = document.getElementById('submit-button');
        const passwordForm = document.getElementById('change-password');

        // Attach a click event listener to the button
        submitButton.addEventListener('click', function(event) {
					event.preventDefault();
					const newPassword = document.getElementById('new-password');
					const confirmPassword = document.getElementById('confirm-password');

					if (newPassword.value !== confirmPassword.value) {
						const errorDiv = document.querySelector('.error-box');
						errorDiv.style.display = "block"
						const message = "Passwords don't match";
						errorDiv.innerHTML = message;

						confirmPassword.value = "";
						confirmPassword.focus();
					} else {
						passwordForm.submit();
					}
        });
    </script>
	</body>
<html>
