<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> RECOVER </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/recover_password/recover.css') }}">
	</head>
	<body>
		<section class="section-brightnessd">
		<div class="recover-box">
      <form action="/reset_password_process" method="POST" enctype="application/x-www-form-urlencoded">
				<h2>Recover</h2>
				<div class="input-box">
					<span class="icon">
						<ion-icon name="mail"></ion-icon>
					</span>
					<input type="text" name="email" class="input-data" required>
					<!--<div class="error-box" style="display: none;">username or password incorrect</div>-->
					<label>Enter Your Email Address</label>
				</div>
				<button type="submit">Send</button>
			</form>
		</div>
		</section>
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
		<script>
			/*
		  const status_msg = "{{ status }}";
		  document.addEventListener("DOMContentLoaded", function () {
		    const errorDiv = document.querySelector('.error-box');
		    const inputData = document.querySelectorAll('.input-data');

				if (status_msg === "error") {
					// Display the error message and focus on the first input field
					errorDiv.style.display = "block";
					// Clear the values of all input fields and hide the error message when the user starts typing
					inputData.forEach(function (input) {
						input.value = "";
						input.addEventListener('input', function () {
							errorDiv.style.display = "none";
						});
					});
				}
			});
			*/
		</script>
	</body>
<html>
